.page {
  padding: 20px;
}
.right {
  text-align: right;
}
.page-header {
  padding: 20px 0;
  /* border-bottom: solid 2px #ccc; */
}
.page-header h1 {
  text-align: center;
}

.page-content {
  padding: 20px 0;
}
.page-content h2 {
  padding: 1.5 rem 0;
}

.page-footer {
  padding: 10px 0;
}

/* .page-footer p {
  font-size: small;
} */
